<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.hank.myappdemo">
    <!-- 百度地图添加权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- ShareSDK添加权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/arrow"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="gTbNUZsZVRN4GnFfz5xPlvdUOxbOUtLs"/>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 百度地图的展示界面 -->
        <activity android:name=".map.MAPActivity"/>
        <!-- 百度地图的展示界面 -->
        <activity android:name=".map.MAPPathActivity"/>
        <!-- 测试代码的展示界面 -->
        <activity android:name=".test.TestActivity"/>
        <!-- 自定义View的展示界面-->
        <activity android:name=".mveiw.MyViewActivity"/>
        <!-- 自定义View动画篇，基础应用（一） -->
        <activity android:name=".mveiw.animation.Alpha_Scale_Translate_Rotate_Set"/>
        <!-- 自定义View动画篇，基础动画应用（四） -->
        <activity android:name=".mveiw.animation.ViewAnimationDemo"/>
        <!-- 自定义View动画篇，演示ViewAnimation动画（四） -->
        <activity android:name=".mveiw.animation.ViewAnimation"/>
        <!-- 自定义View动画篇，演示ObjectAnimation动画（七） -->
        <activity android:name=".mveiw.animation.ViewObjectAnimator"/>

        <!-- 自定义View绘图篇，展示进入哪一个View的入口 -->
        <activity android:name=".mveiw.draw.DrawViewStepActivity"/>
        <!-- 自定义View绘图篇，演示Paint与Canvas的基本使用（一） -->
        <activity android:name=".mveiw.draw.activity.DrawViewActivty"/>
        <!-- 自定义View绘图篇，演示路径与文字（二） -->
        <activity android:name=".mveiw.draw.activity.DrawPathViewActivity"/>
        <!-- 自定义View绘图篇，使用Paint演示文字（二） -->
        <activity android:name=".mveiw.draw.activity.DrawTextPathViewActivity"/>
        <!-- 自定义View绘图篇，使用Canvas演示文字（二） -->
        <activity android:name=".mveiw.draw.activity.DrawCanvasTextViewActivity"/>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">

        </service>
        <!-- 添加ShareSDK所添加的Activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1106123744" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 展示ShareSDK功能的界面-->
        <activity android:name=".shareask.ShareSDKActvity"/>
        <!-- 展示第三方登录的界面-->
        <activity android:name=".shareask.activity.ShareSDKRegisterActivity"/>
    </application>

</manifest>